body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.main-page .main-header {
  background-color: #f2f2f2;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 0px -30px;
}

.inner-page main {
  background-color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0px -300px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */

.polygon-background {
  background-image: url("../img/intro-mask.svg");
  height: 57px;
  width: 1200px;
  background-size: cover;
}

.site-navigation {
  background-color: #ffffff;

  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-page {
  color: #766357;
  font-weight: 700;
}

/* Main-page */

.container {
  background-color: #ffffff;
}

.page-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.features h2 {
  padding-bottom: 54px;
}

.features-list,
.town-features-list {
  list-style: none;
}

.features h2 {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-item:nth-child(1),
.feature-item:nth-child(2) {
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.feature-item:nth-child(3),
.feature-item:nth-child(4),
.feature-item:nth-child(5) {
  background-color: #eeeeee;
}

.town-features-list {
  color: black;

  background-color: #ffffff;
}

.town-feature-item:nth-child(1)::before {
  content: url("../img/icon-1.svg");
}

.town-feature-item:nth-child(2)::before {
  content: url("../img/icon-2.svg");
}

.town-feature-item:nth-child(3)::before {
  content: url("../img/icon-3.svg");
}

.filter-form {
  margin: 0;
  padding: 0;
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
}

.checkbox,
.range {
  margin: 0;
  padding: 0;
}

.range {
  margin-left: auto;
}

.checkbox {
  width: 145px;
  margin-right: 110px;
}

.result {
  display: flex;
  flex-direction: column;
}

.sorting {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 86px;
  width: 1200px;
  padding: 0px 70px;
}

.sorting-item {
  display: flex;
  align-items: center;
}

.sorting-item:nth-of-type(1) {
  width: 164px;
}

.sorting-item:nth-of-type(2) {
  width: 500px;
  margin-right: auto;
}

.sorting-item:nth-of-type(2) label {
  margin-right: 30px;
}

.sorting-item:nth-of-type(2) p {
  margin-right: 40px;
}

.sorting-item:nth-of-type(3) {
  width: 35px;
  justify-content: space-between;
}

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0px 70px;

  flex-direction: column;
  display: flex;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 30px 0px;
}

.result-item-photo {
  order: -1;
  margin-right: 30px;
}

.result-wrapper h3,
.result-wrapper p {
  margin: 0;
}

.result-item-info {
  display: flex;
}

.result-item-info p {
  margin-right: 40px;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: auto;
  height: 90px;
}

.rating p {
  margin: 0px;
}

.rating {
  width: 110px;
  height: 90px;

  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-search-form {
  position: absolute;
  bottom: 198px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;

  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.hotel-search-form input {
  background-color: #f2f2f2;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
}

.hotel-search-form input:focus {
  background-color: #ffffff;
}

.hotel-search p:nth-of-type(1) {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.button {
  width: 38px;
  height: 38px;
  border: none;
  margin: 0;
  padding: 0;
}

.popup-button {
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;

  width: 568px;
  height: 86px;
}

.popup-button:hover,
.popup-button:focus {
  background-color: #604e43;
}

.popup-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.calendar-button::before {
  background-color: #f2f2f2;

  content: url("../img/calendar.svg");
}

.submit-button {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff;
  border: none;

  margin-top: 24px;

  width: 458px;
  height: 58px;

  background-color: #81b3d2;
}

.submit-button:focus,
.submit-button:hover {
  background-color: #669ec0;
}

.submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* Inner-Page */

/* inner-page/Filer */

.filter-form fieldset {
  border: 0 none;
}

.filter-form {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.filter-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  margin-bottom: 25px;
}

.filter-button {
  background-color: transparent;
  outline: solid 2px #ffffff;
  border: none;
  color: #ffffff;

  font-size: 14px;
  line-height: 21px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #000000;
}

.checkbox-item {
  margin-bottom: 22px;
}

.checkbox-item:last-child {
  margin-bottom: 0px;
}

.checkbox-item label {
  position: relative;
  padding-left: 40px;
}

.checkbox label::before {
  top: -2px;
  left: 0;
  position: absolute;
  content: url("../img/checkbox-off.svg");
}

.checkbox input[type="checkbox"]:checked + label::before {
  top: -2px;
  left: 0;
  position: absolute;
  content: url("../img/checkbox-on.svg");
}

.output-min {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.output-max {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

/* inner-page/result */

.sorting h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sorting-label {
  font-size: 12px;
  line-height: 18px;

  border-bottom: dashed 1px #81b3d2;

  color: rgba(0, 0, 0, 0.3);
}

.sorting label:hover {
  color: #81b3d2;
}

.sorting label:active {
  color: #000000;
  border: none;
}

.sort-button:checked + label {
  color: #81b3d2;
  border: none;
}

.sort-button {
  background-color: transparent;
  border: none;
}

.sort-up {
  content: url("../img/icon-up-dir.svg")
}

.sort-down{
  content: url("../img/icon-down-dir.svg");
}

.result {
  background-color: #ffffff;
}

.result-list {
  list-style: none;
}

.result a {
  text-decoration: none;
}

.result-item-title {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-item-title a {
  color: #000000;
}

.result-item-title a:hover,
.result-item-title a:focus {
  color: #81b3d2;
}

.result-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-more {
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-reserve {
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
  color: #ffffff;

  background-color: #604e43;
}

.button-reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating span {
  background-color: #f2f2f2;
  color: #666666;

  line-height: 21px;
}

.rating-stars {
  content: "";
  background-image: url("../img/star.svg");
  background-size: cover;
  width: 18px;
  height: 17px;
  user-select: none;

  display: inline-block;
}

/* Footer */

.contacts,
.contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.social-links-list {
  list-style: none;
}

.social-links-item a {
  display: block;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;

  width: 46px;
  height: 48px;
}

.social-links-item a:focus,
.social-links-list a:hover {
  background-color: #669ec0;
}

.social-links-list a:active {
  background-color: #5496bd;
}

.social-links-item:nth-child(1) a {
  background-image: url("../img/twitter.svg");
}

.social-links-item:nth-child(2) a {
  background-image: url("../img/fb-icon.svg");
}

.social-links-item:nth-child(3) a {
  background-image: url("../img/youtube.svg");
}

.copyright {
  line-height: 26px;
}


/* Сетка */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* стека header */

.main-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation {
  display: flex;

  margin-bottom: 76px;
}

.inner-page .site-navigation {
  margin-bottom: 0px;
}

.navigation-item:nth-of-type(2) {
  margin-right: auto;
}

.navigation-item {
  width: 239px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header-logo {
  width: 140px;
  position: absolute;
  top: 0px;
  margin-left: 530px;
  margin-right: 530px;
}

.main-logo {
  width: 459px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

/* сетка main */

.page-title {
  width: 450px;
  margin: 0 auto;


  padding-top: 60px;
  margin-bottom: 35px;
}

.features {
  margin: 0;
  padding: 0;
}

.features h2 {
  width: 500px;
  margin: 0 auto;
}

.feature-item:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1200px;
}

.feature-item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: flex-start;
  width: 1200px;
}

.feature-item:nth-child(3),
.feature-item:nth-child(4),
.feature-item:nth-child(5) {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  height: 256px;
}

.feature-description h3 {
  width: 155px;
  margin-top: 0;
  margin-bottom: 30px;
}

.feature-description p {
  margin: 0;
  margin-bottom: 30px;
  width: 305px;
}

.feature-item p:last-child {
  margin: 0;
}

.feature-description {
  padding: 40px 45px;
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  box-sizing: border-box;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.town-features-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.town-feature-item {
  margin: 0;
  padding: 55px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  height: 330px;
  width: 400px;
}

.town-feature-item p {
  width: 285px;
  text-align: center;
  margin-top: 0;
}

.town-feature-item h3 {
  margin-bottom: 25px;
}

.hotel-search {
  position: relative;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.hotel-search p {
  width: 435px;
}

.hotel-search p:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 15px;
}

.hotel-search p:nth-of-type(2) {
  margin-bottom: 55px;
}

.hotel-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 568px;
  height: 395px;

  padding-top: 55px;

  box-sizing: border-box;
}

.form-wrapper {
  display: flex;
  height: 38px;
  width: 458px;
  align-items: center;

  margin-bottom: 29px;
}

.form-wrapper input {
  width: 310px;
  height: 38px;
  border: none;
  padding: 0;
  margin: 0;
  padding: 13px;
  margin-left: auto;
  box-sizing: border-box;
}

.double-wrapper input {
  width: 38px;
  margin: 0;
}

.double-wrapper {
  justify-content: space-between;
}

.child-wrapper {
  display: flex;
  align-items: center;
  width: 179px;
  height: 38px;
}

.adults-wrapper {
  align-items: center;
  display: flex;
  width: 224px;
  height: 38px;

}

.adults-wrapper label,
.child-wrapper label {
  margin-right: auto;
}

/* сетка footer */

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);

  width: 1200px;
  min-height: 120px;
  box-sizing: border-box;
  transform: translateY(-120px);

  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 130px;
  padding-right: 100px;

  display: flex;
  align-items: center;
}

.contacts {
  width: 225px;
  margin-right: 170px;
}

.contacts p {
  margin: 0;
  margin-bottom: 5px;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  width: 150px;

  list-style: none;
  flex-wrap: wrap;
}

.social-links-item {
  margin-bottom: 6px;
}

.copyright {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.copyright p {
  margin-right: 5px;
}
